<div class="container">

  <br class="featurette-divider">
  <br class="featurette-divider">
  <br class="featurette-divider">

  <div class="card" style="width: 25rem; margin: auto;">
    <img class="img-responsive center-block card-img-top" src='https://picsum.photos/320/240' alt="...">

    <div class="card-body">
      <h5 class="card-title">{{news.name}}</h5>
      <p class="card-text">{{news.description}}</p>
    </div>
    <div class="card-footer text-muted">
      {{moment news.createdAt}}
    </div>
    <br>
    <a class="btn btn-outline-primary justify-content-center" href="javascript:history.back()" role="button">回上一頁</a>
  </div>



</div>